doctype html
html
  head
    title Redefinição de Senha
    style.
      body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }
      .container { width: 80%; margin: 20px auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9; }
      h1, h2 { color: #0056b3; }
      .button { display: inline-block; background-color: #007bff; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; }
  body
    .container
      h1 Redefinição de Senha
      p Olá, #{name}!
      p Você solicitou a redefinição de sua senha.
      p Por favor, clique no botão abaixo para redefinir sua senha:
      p
        a(href=link, class='button') Redefinir Senha
      p Se você não solicitou a redefinição de senha, por favor, ignore este e-mail.
      p Atenciosamente,
      p Equipe Proposia