doctype html
html
  head
    title Reset de Senha
  body
    p Olá #{name},
    p Você solicitou a redefinição de sua senha. Use o token abaixo para continuar:
    p #{token}
    p Se você não solicitou a redefinição de senha, por favor ignore este email.